body{
    background-color: #F3F5FC;
}

h {
	padding: 67px 0;
    width: 840px;
	margin: 0 auto;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    position: relative;
    top: 49px;
}

#principal{
	padding-top: 3em;
    margin: 0 auto;
    filter: none;
    width: 840px;
	position: relative;
}

#circulo-izquierda{
	position: absolute;
	left: 24px;
	top: 129px;
}
#texto-operar{
	position: absolute;
	left: 40px;
    top: 360px;
}

#circulo-derecha{
	position: absolute;
	left: 238px;
	top: 80px;
}
#texto-crear{
	position: absolute;
	left: 530px;
    top: 115px;
}

#circulo-bajo{
	position: absolute;
	left: 220px;
	top: 490px;
}
#texto-ejecutar{
	position: absolute;
	left: 490px;
    top: 720px;
}

#cultura{
    position: absolute;
    left: 310px;
    top: 370px;
}
#icono-cultura{
    position: absolute;
    left: 370px;
    top: 400px;
}
#nombre-cultura{
    position: absolute;
    left: 380px;
    top: 500px;
}

#desarrollar{
    position: absolute;
    left: 490px;
    top: 475px;
}
#icono-desarrollar{
    position: absolute;
    left: 565px;
    top: 505px;
}
#nombre-desarrollar{
    position: absolute;
    left: 540px;
    top: 610px;
}

#razonar{
    position: absolute;
    left: 310px;
    top: 575px;	
}
#icono-razonar{
    position: absolute;
    left: 370px;
    top: 600px;
}
#nombre-razonar{
    position: absolute;
    left: 375px;
    top: 710px;
}

#operar{
    position: absolute;
    left: 130px;
    top: 475px;
}
#icono-operar{
    position: absolute;
    left: 190px;
    top: 500px;
}
#nombre-operar{
    position: absolute;
    left: 200px;
    top: 610px;
}

#aprender{
    position: absolute;
    left: 130px;
    top: 270px;
}
#icono-aprender{
    position: absolute;
    left: 185px;
    top: 300px;
}
#nombre-aprender{
    position: absolute;
    left: 186px;
    top: 400px;
}

#descubrir{
    position: absolute;
    left: 310px;
    top: 165px;
}
#icono-descubrir{
    position: absolute;
    left: 370px;
    top: 190px;
}
#nombre-descubrir{
    position: absolute;
    left: 366px;
    top: 295px;
}

#visualizar{
    position: absolute;
    left: 490px;
    top: 270px;
}
#icono-visualizar{
    position: absolute;
    left: 565px;
    top: 290px;
}
#nombre-visualizar{
    position: absolute;
    left: 546px;
    top: 400px;
}

#ventana-emergente {

    display: none;
	position: relative;
	top: 170%;
	left: 40%;
	transform: translate(15%, 0%);
	width: 270px;
	height: 270px;

	/* White */

	background: #FFFFFF;
	/* shadow */

	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	padding: 10px 60px;
  }

#cerrar{
    display: block;
    position: relative;
    left: 99%;

    font-family: 'Delicious Handrawn';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

#texto{
    font-family: 'Delicious Handrawn';
    font-style: normal;
    font-weight: 700;
    font-size: 40px; 
    text-align: center;
    padding: 9px;
}

#icono-visualizar:hover, #cerrar:hover, #icono-descubrir:hover, 
#icono-aprender:hover, #icono-operar:hover, #icono-razonar:hover, 
#icono-desarrollar:hover, #icono-cultura:hover, #texto-ejecutar:hover, 
#texto-crear:hover, #texto-operar:hover, #atras{
    transform: scale(115%);
    transition: 400ms;
}

.pag-mensaje{
    font-family: 'Amatic SC';
    font-style: normal;

    padding: 180px 0;
    width: 840px;
	margin: 0 auto;
    display: block;
    font-weight: 700;
    font-size: 120px;
    line-height: 120%;
    text-align: center;
    color: #4884c0;
    position: relative;
    top: 49px;
}

h2 {
    padding: 67px 0;
}

a {
    padding: 67px 0;
    text-transform: uppercase;
    color: #4884c0;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #343A40;
    transform: scale(200%);
    transition: 400ms;
}

#atras{
    padding: 0%;
    font-size: medium;
    left: -350px;
}